<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.caojun.yujiyizidi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="org.caojun.ttschulte.MainApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.storekeeper.GoodsDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.customer.GoodsBuyActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.customer.GoodsListActivity" />
        <activity android:name=".activity.customer.CustomerListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>
        <activity android:name=".activity.storekeeper.CustomerDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.storekeeper.SGoodsListActivity" />
        <activity android:name=".activity.storekeeper.SCustomerListActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.customer.CartActivity"/>
        <activity android:name=".activity.customer.OrderListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>
        <activity android:name=".activity.customer.OrderDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.storekeeper.SOrderDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.storekeeper.SOrderListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>
        <activity android:name=".activity.storekeeper.ExpressDetailActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".activity.storekeeper.ExpressListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>

        <!-- bmob.cn -->
        <meta-data
            android:name="cn.bmob.v3.appid"
            android:value="d05646b9b25a9fcb63d65797c2b5e098" />
    </application>

</manifest>