<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.caojun.salmagundi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:anyDensity="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qrcode.QRCodeActivity"
            android:label="@string/qrcode_title" />
        <activity android:name=".color.ColorActivity"
            android:label="@string/color_title" />
        <activity android:name=".bankcard.BankCardActivity"
            android:label="@string/bankcard_title" />
    </application>

</manifest>