<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.caojun.salmagundi"
    android:versionCode="11"
    android:versionName="1.1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:anyDensity="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/main_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppStartLoadTranslucent">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qrcode.QRCodeActivity"
            android:label="@string/qrcode_title" />
        <activity android:name=".color.ColorActivity"
            android:label="@string/color_title" />
        <activity android:name=".bankcard.BankCardActivity"
            android:label="@string/bankcard_title" />
        <activity android:name=".string.StringActivity"
            android:label="@string/string_title" />
        <activity android:name=".secure.SecureActivity"
            android:label="@string/secure_title" />
        <activity android:name=".rxjava.RxJavaActivity"
            android:label="@string/rxjava_title" />
        <activity android:name=".ai.AIActivity"
            android:label="@string/ai_title" />
        <activity android:name=".textart.TextArtActivity"
            android:label="@string/textart_title" />
        <activity android:name=".passwordstore.PasswordStoreActivity"
            android:label="@string/passwordstore_title" />
        <activity android:name=".passwordstore.PasswordDetailActivity"
            android:label="@string/ps_detail_title" />
        <activity android:name=".lockpattern.GestureLoginActivity"
            android:label="@string/gesture_login_title" />
        <activity android:name=".lockpattern.CreateGestureActivity"
            android:label="@string/create_gesture_title" />
        <activity android:name=".taxicab.TaxicabActivity"
            android:label="@string/taxicab_title" />
        <activity android:name=".bloodpressure.BloodPressureActivity"
            android:label="@string/bp_title" />
        <activity android:name=".bloodpressure.BloodPressureDetailActivity"
            android:label="@string/bp_detail_title" />
        <activity android:name=".cameracolor.CameraColorActivity"
            android:label="@string/cc_title" />
        <activity android:name=".sysinfo.SysinfoActivity"
            android:label="@string/si_title" />
        <activity android:name=".sharecase.UserActivity"
            android:label="@string/sc_user_title" />
        <activity android:name=".sharecase.UserDetailActivity"
            android:label="@string/sc_user_detail_title" />
        <activity android:name=".sharecase.SharecaseActivity"
        android:label="@string/sc_sharecase_title" />
        <activity android:name=".sharecase.SharecaseDetailActivity"
            android:label="@string/sc_sharecase_detail_title" />
        <activity android:name=".sharecase.OrderActivity"
            android:label="@string/sc_order_title" />
        <activity android:name=".sharecase.OrderDetailActivity"
            android:label="@string/sc_order_detail_title" />
        <activity android:name=".clicaptcha.CaptchaActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:label="@string/captcha_title" />
        <activity android:name=".clicaptcha.CaptchaDemo"
            android:label="@string/captcha_title" />
    </application>

</manifest>