<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.caojun.ttclass">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.IClassListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ScheduleDetailActivity" />
        <activity android:name=".activity.TeacherDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.SchoolDetailActivity" />
        <activity android:name=".activity.IClassDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.BillListActivity" />
    </application>

</manifest>